.calculator-container
{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

.label
{
	display: inline-block;
	min-width: 100px;
}

.input
{
	min-width: 150px;
}

.input.has-value-list
{
	background-color: #eee;
}

.calc-gui-value-selector
{
	background-color: #faa;
}